@charset "UTF-8";

* {
    font-family: sans-serif;
    
}

input {
    caret-color: #ff0020;
    max-width: 7em;
}

body {
    background-color: #0f73ad;
}

header {
    color: rgb(255, 255, 255);
    font-size: large;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.295);
}

main {
    background-color: white;
    max-width: 600px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    padding: 30px;
    color: black;
}

button {
    color: rgb(255, 255, 255);
    background-color: #438eb9;
    border-radius: 6px;
    border-color: #2e6280;

}

select#list {
    width: 150px;
}

p {
    padding: 5px;
}

footer {
    color: white;
    margin-top: 35px;
    text-align: center;
}